.jumbotron {
  background-color: #e2edff;
  padding-top: 6rem;
}

#project {
  background-color: #e2edff;
}

#footer {
  background-color: #44b3c7;
}


@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
